<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.smart.transfer_management">

    <application>
        <activity
            android:name=".ui.activity.TransferManagerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.CommonSearchActivity"
            android:theme="@style/AppDialogActivityTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.activity.WorkingSearchActivity"
            android:theme="@style/AppDialogActivityTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.activity.TransferManagerMessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.WorkingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.MyStudentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.StudentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.UnCompeleteReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.MyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.UnTalkRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.MyTalkRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.MyTaskListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.TaskDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.StudentDetailReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.StudentDetailTalkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.PersonTalkRecordDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.TransferManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />


    </application>
</manifest>